* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #191929;
  scroll-behavior: smooth;
  color: #d8d8b9;
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
header nav .logo {
  margin-left: 50px;
  margin-top: 10px;
  width: 4vh;
  height: 5vh;
}
header nav ul {
  margin-right: 50px;
  margin-top: 20px;
}
header nav ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  font-size: 20px;
  margin: 0 50px;
  text-decoration: none;
  font-weight: 800;
  width: 58px;
  height: 24px;
  left: 843px;
  top: 44px;
  line-height: 24px;
  color: #d8d8b9;
}
header nav .hamburger {
  display: none;
}

main .jumbotron {
  display: flex;
  margin: 70px 120px;
}
main .jumbotron .main-text {
  width: 100%;
  margin-bottom: 50px;
}
main .jumbotron .main-text .header {
  text-align: left;
  margin: 20px 0;
  font-size: 2.4rem;
}
main .jumbotron .main-text p {
  font-size: 1.25em;
}
main .jumbotron .main-img img {
  position: relative;
  height: 326px;
  width: 361px;
  z-index: -1;
  right: 20px;
  filter: blur(4px);
}
main .about {
  margin: 70px 120px;
}
main .about .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .about .main-text .header {
  text-align: center;
  margin: 20px 0;
  font-size: 2.4rem;
}
main .about .main-text p {
  text-align: justify;
}
main #project {
  margin: 70px 120px;
}
main #project .header {
  text-align: center;
  margin: 20px 0;
  font-size: 2.4rem;
}
main #project hr {
  width: 70%;
  margin: 0 auto;
}
main #project .item-project {
  display: flex;
  justify-content: center;
}
main #project .item-project .item-self {
  position: relative;
  width: 200px;
  margin: 30px;
}
main #project .item-project .item-self .contoh {
  width: 100%;
  height: 100%;
  border: solid 1px white;
  background-color: red;
}
main #project .item-project .item-self .imageproject {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s;
  filter: blur(5px);
}
main #project .item-project .item-self .imageproject.show {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateY(0);
}
main #project .item-project .item-self .overlay:hover {
  opacity: 1;
}
main #project .item-project .item-self .overlay:hover > * {
  transform: translateY(0);
}
main #project .item-project .item-self .overlay > * {
  transform: translateY(28px);
  transition: transform 0.25s;
}
main #project .item-project .item-self .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 41, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
main #project .item-project .item-self .overlay .image-title {
  font-size: 2em;
  font-weight: bold;
}
main #project .item-project .item-self .overlay .image-description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
main #skill {
  margin: 70px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #skill .header {
  text-align: center;
  margin: 20px 0;
  font-size: 2.4rem;
}
main #skill .spesialist {
  display: flex;
  margin: 0 40px;
  gap: 25px;
}
main #skill .spesialist .icon-skill {
  max-width: 80px;
  max-height: 80px;
  margin: 30px 50px;
}
main #skill .spesialist .barside {
  width: 100%;
}
main #skill .spesialist .barside .header {
  text-align: center;
  margin: 20px 0;
  font-size: 2.4rem;
}
main #skill .spesialist .barside .spacebar {
  margin-top: 8px;
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background-color: gray;
  overflow: hidden;
}
main #skill .spesialist .barside .spacebar .fillbar {
  width: 70%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: red;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
}
main #skill .spesialist .barside .spacebar .fillbar p {
  position: relative;
  text-align: right;
  padding-top: -40px;
  height: 110%;
  padding-bottom: 10px;
  margin-right: 10px;
  font-size: 15px;
}
main #skill .spesialist .barside .spacebar .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
main #contact {
  margin-top: -10px;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #contact .kontek {
  display: flex;
  flex-direction: column;
}
main #contact .kontek .header {
  text-align: center;
  margin: 20px 0;
  font-size: 2.4rem;
}
main #contact .kontek .massage {
  margin-left: 200px;
}
main #contact .kontek .massage .forse {
  margin-top: 15px;
}
main #contact .kontek .massage .forse .label {
  margin-left: 5px;
  font-size: 2.5vh;
  font-weight: 700;
  color: white;
}
main #contact .kontek .massage .forse input[type=text] {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  margin: 8px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 80%;
  align-self: center;
}
main #contact .kontek .massage .forse input:focus {
  outline: none;
}
main #contact .kontek .massage .forse textarea {
  width: 80%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
  align-self: center;
}
main #contact .kontek .massage .forse textarea:focus {
  outline: none;
}
main #contact .kontek button {
  background-color: var(--primary-color);
  border: 4px solid white;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 1.15;
  width: 100px;
  height: 50px;
  padding: 5px 20px;
  margin: 20px 5px;
}
main #contact .kontek button:focus {
  outline: 0;
}
main #contact .kontek button:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #0a46e4;
}
main #contact .kontek button:active {
  background-color: #0039d7;
  border-color: white;
}/*# sourceMappingURL=main.css.map */